{%extends 'main.html'%}

{%block content %}
<!DOCTYPE html>
<head>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
  
    
    </style>
    </head>
        <h1>Remove Orders</h1>
        <table>
          <tr>
            <th>CustomerID</th>
            <th>DateOfPurchase</th>
            <th>OrderID</th>
            <th>Remove</th>
          </tr>
         {% for x in dic%}
          <tr>
            <td >{{ x.CustomerID }}</td>
            <td >{{ x.date_of_purchase}}</td>
            <td >{{ x.order_id}}</td>
            <td><div class="container">
                <input Name type="hidden" type="text" value="{{x.order_id}}" />
                <button class="Remove">x</button>
              </div></td>
          </tr>
          
    {% endfor %}
</table>
<br>
<br>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
  <script type="text/javascript">
  
  var postdic
  $(".Remove").click(function() {
    var va= $(this).parent().find('[Name]').val();
    postdic=va
    debugger;
    $(this).closest('tr td.pr');
    $(this).closest('tr').remove();
    $.ajax({
    url: 'http://127.0.0.1:8000/adddetails/removeitems/',
    type: 'POST',
    data: postdic,
})
});
</script>

{%endblock%}
</body>
</html