<html>
    <head>
    <title>
        Login
    </title>
    </head>
        <body>
            <h2>Welcome to CoffeShop</h2>
            <button onclick="Register()">Register</button>
            <button onclick="User()">UserLogin</button>
            <button onclick="Employee()">EmployeeLogin</button>
            <h3 >User Login</h3>
            
                {% csrf_token %}
            
            UserName:<input id="user" type="text" name="Username"><br><br>
            Password:<input id="password" type="password" name="password"><br><br>
            <button id="userlogin">Submit</button>
    
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
            <script type="text/javascript">
            function Register(){
            debugger;
            window.location.href='http://127.0.0.1:8000/register/'
        };
        function User(){
            window.location.href='http://127.0.0.1:8000/user/'
        };
    
        function Employee(){
            debugger;
            window.location.href='http://127.0.0.1:8000/employee/'
        };
        
        $("#userlogin").click(function (){
        var postdic={"Name":$("#user").val(),"Pwd":$("#password").val()}
        $.ajax({
        url: 'http://127.0.0.1:8000/user/',
        type: 'POST',
        data: postdic,
        success : function (returned_data) {			
			if (returned_data.is_success) {
				location.href='http://127.0.0.1:8000/'
			} 
		}
        })
        
        
        });
    
        </script>
        </body>
    </html>